.grid-container{
    display:grid;
    grid-template-rows: auto auto auto;
    

}
.grid-main{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    background-color: aqua;
    
}
.grid-items{
    border:5px solid;
}