
.grid-main{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    background-color: aqua;
    
}
.grid-items{
    border:5px solid black;
    background-color: chocolate;
}
@media (min-width:475px){
    .grid-main{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width:600px){
    .grid-items{
        grid-template-columns: repeat(3,1fr);
    }

}